<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" media="all" href="./stylesheets/framework.css">
    <link rel="stylesheet" href="./stylesheets/layout.css">
    <link rel="icon" type="image/png" href="./images/weather icon.png">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <nav class="sticky">
      <div class="topnav">
        <img src="./images/dxc logo.jpg" alt="">
        <a href="./">Home</a>
        <a href="./upload">Upload Data</a>
        <a class="active" href="./record">View Records</a>
      </div>
    </nav>
    <div class="">
      <br>
      <form action="./record" method="POST">
        <label for="inputMonth">
          Choose desired month:
          <input type="month" name="inputMonth" min="2010-03" max=<%= maxMonth %> required>
        </label>
        <input type="submit" value="Display">
      </form>
    </div>
    <div class="">
      <br>
      <% if (data === -1) { %>
      <% } else { %>
        <% if (data.length>0) { %>
          <table>
            <tr>
              <th>Date</th>
              <th>Daily
                Rainfall
                Total (mm)</th>
              <th>Highest 30-min Rainfall (mm)</th>
              <th>Highest 60-min Rainfall (mm)</th>
              <th>Highest 120-min Rainfall (mm)</th>
              <th>Mean Temperature (°C)</th>
              <th>Maximum Temperature (°C)</th>
              <th>Minimum Temperature (°C)</th>
              <th>Mean Wind Speed (km/h)</th>
              <th>Max Wind Speed (km/h)</th>
            </tr>
            <% for(var i=0; i<data.length; i++) { %>
              <tr>
                <td class="nowarp"><%= data[i].year%>-<%= data[i].month%>-<%= data[i].day%></td>
                <td><%= data[i].daily_rainfall_total_mm %></td>
                <td><%= data[i].highest_30_min_rainfall_mm %></td>
                <td><%= data[i].highest_60_min_rainfall_mm %></td>
                <td><%= data[i].highest_120_min_rainfall_mm %></td>
                <td><%= data[i].mean_temperature_c %></td>
                <td><%= data[i].maximum_temperature_c %></td>
                <td><%= data[i].minimum_temperature_c %></td>
                <td><%= data[i].mean_wind_speed_kmh %></td>
                <td><%= data[i].max_wind_speed_kmh %></td>
              </tr>
            <% } %>
          </table>
        <% } else { %>
          No records uploaded.
        <% } %>
      <% } %>
    </div>
  </body>
</html>
